*{
    box-sizing:border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.container{
    padding:0 15px 0 15px ;
    width: 1140px;
    margin: 0 auto 0 auto;
}

.container-fluid{
    padding:0 15px 0 15px ;
    width: 100%;
}

.columna{
    padding:0 15px 0 15px ;
}

.row{
    padding:0 15px 0 15px ;
}