*{
    box-sizing:border-box;
}

body{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    color:#1E1E1E;
}

header .container .fa-bars{
    display: none;
}

a{
    color:#F40009; 
    text-decoration: none;
}

header{
    padding-top: 15px;
    padding-bottom: 15px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .container .logo{
    width:100px;
    height: auto;

}

header .container nav a{
    margin-left: 15px;
    margin-right: 15px;

}

.boton.boton-blanco{
    background-color: #F40009;
    color: #fff;
}

.boton.boton.boton-rojo{
    background-color: #fff;
    color: #F40009;
}

.boton{
    padding:10px 25px 10px 25px ;
    display: inline-block;
}

.container{
    padding:0 15px 0 15px ;
    width: 1140px;
    margin: 0 auto 0 auto;
}

.container-fluid{
    padding:0 15px 0 15px ;
    width: 100%;
}

.columna{
    padding:0 15px 0 15px ;
}

.columna-33{
    width: 33.33%;

}

.section{
    padding-top: 60px;
    padding-top: 60px;
}

.row{
    padding:0 15px 0 15px ;
    margin-left: -15px;
    margin-right: -15px;
    display: flex;

}

#inicio{
    position: relative;
    background-color: #1E1E1E;
}

#inicio img{
    width:100% ;
    opacity: 0.7;
}

#inicio .bloque-banner{
    position: absolute;
    top:40%;
    left: 50%;
    width: 33.33%;
    text-align: center;
    margin-left: -16.66%;
    color: #fff;
}

#inicio .bloque-banner h1{
    font-size: 45px;
    margin-top: 0;
    margin-bottom:  15px;
}

#nosotros{
    background-image: linear-gradient(to left,rgba(30,30,30,0.7),#F40009),url('img/img/latas.jpg');
    color: #fff;
    font-size: 18px;
    text-align: center;
}

#servicios .bloque-servicio{
    border: 1px solid #1E1E1E;
}

#servicios .bloque-servicio .bloque-img-servicio{

}

#servicios .bloque-servicio .bloque-img-servicio img{

    width: 100%;
    
}